* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: rgb(216, 106, 98);
  --secondary-color: rgb(255, 255, 255);
  --color-theme-one: rgb(0, 0, 0);
  --default-transition: all 0.8s ease-in-out;
  --color-theme-two: rgb(223, 130, 130);
}

body {
  background-color: var(--primary-color);
  height: 100vh;
}
body .container {
  background-color: var(--secondary-color);
  font-size: 1em;
  padding: 3em 2.8em;
  width: min(90vw, 32em);
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 1em;
  border-radius: 0.7em;
  box-shadow: 0 1.2em 2.5em rgba(103, 90, 87, 0.3);
}
@media screen and (min-width: 250px) and (max-width: 490px) {
  body .container {
    width: min(95vw, 32em);
    padding: 2rem 1rem;
    font-size: 14px;
  }
}
body .container .search-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.2em;
  padding: 0.5em;
  outline: none;
  border: none;
}
@media screen and (min-width: 250px) and (max-width: 490px) {
  body .container .search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
body .container .search-container input {
  padding: 1em 0.6em;
  border-radius: 0.2em;
  border: none;
  border-bottom: 2px solid var(--color-theme-one);
  font-style: inherit;
}
body .container .search-container input:focus {
  outline: none;
  border-color: var(--primary-color);
  transition: var(--default-transition);
}
body .container .search-container button {
  border-radius: 0.7em;
  border: none;
  background-color: var(--color-theme-two);
  color: var(--secondary-color);
  font-size: 1em;
  font-weight: 600;
}
@media screen and (min-width: 250px) and (max-width: 490px) {
  body .container .search-container button {
    padding: 0.6rem 0.4rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
}
body .container .empty-error {
  background-color: var(--color-theme-2);
  width: 100%;
  text-align: center;
  color: red;
  padding: 1em 0;
  border-radius: 0.8em;
  margin-top: 1.3em;
  transition: var(--default-transition);
  display: none;
}
body .container #result img {
  display: block;
  width: 50%;
  margin: 1.8em auto 0 auto;
}
body .container #result .details {
  background-color: var(--primary-color);
  position: relative;
  margin: -1.5em auto 0 0;
  text-align: center;
  padding: 0.6em 0;
}
body .container #result .details h2 {
  font-size: 1.2em;
  font-weight: 600;
}
body .container #result .details h4 {
  font-size: 1em;
  font-weight: 400;
}
body .container #result #recipe {
  position: absolute;
  background-color: var(--secondary-color);
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0.6em;
  display: none;
}
body .container #result #recipe pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 2.5em 1.2em 1.2em 1.2em;
}
body .container #result #recipe #hide-recipe {
  font-size: 1em;
  position: relative;
  width: 1.8em;
  height: 1.8em;
  background-color: var(--primary-color);
  border: none;
  top: 1.2em;
  left: 90%;
  border-radius: 0.3em;
  color: var(--secondary-color);
}
body .container #result #recipe #show-recipe {
  font-size: 1em;
  position: relative;
  left: 75%;
  padding: 0.9em 0.6em;
  background-color: var(--color-theme-one);
  border: none;
  top: 1.5em;
  border-radius: 0.3em;
  font-weight: 600;
}
body .container #result #recipe ul {
  font-size: 1em;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.7em 1em;
  padding: 1.2em 0 0 1.2em;
}/*# sourceMappingURL=style.css.map */